<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Carlos Eduardo - Portfólio de Serviços</title>
</head>

<body>
    <nav id="fixo">
        <ul>
            <li><a href="#sobre">Sobre mim</a></li>
            <li><a href="#coordenacao">Coordenação de obras</a></li>
            <li><a href="#desenvolvimento">Desenvolvimento de software</a></li>
            <li><a href="#habilidades">Habilidades</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
        <!-- <img src="images/logo_amaral.jpg" alt="Logo da empresa Amaral Moura Engenharia e Construções Ltda."> -->
    </nav>

    <section id="sobre">
        <div class="sobre1">
            <p id="titulo0">Olá, meu nome é Carlos Eduardo!</p>
            <p id="titulo1">Um cara curioso, criativo, com experiências pessoais e profissionais relevantes, focado em
                soluções
                inovadoras para negócios e ávido por aprender coisas novas todos os dias...</p>
            <div class="formacao">
                <div class="formacaoimg">
                    <a href="https://portal.uel.br/home/" target="_blank"><img src="../static/images/uel.png"></a>
                    <a href="http://www.korea.edu/mbshome/mbs/en/index.do" target="_blank"><img
                            src="../static/images/korea.png"></a>
                    <a href="https://blueedtech.com.br/" target="_blank"><img src="../static/images/blue.jpg"></a>
                </div>
                <div class="formacaotxt">
                    <p>Engenheiro Civil - Universidade Estadual de Londrina</p>
                    <p>Graduação sanduíche: Korea University</p>
                    <p>Desenvolvimento de software: Blue EdTech</p>
                </div>
            </div>
        </div>

        <img class="foto" src="../static/images/foto1.jpeg" alt="Carlos Nicacio sorrindo em uma janela">
    </section>

    <section id="coordenacao">
        <p id="titulo2">Coordenação de obras</p>
        <div class="coordenacao1">
            <img src="../static/images/sgrio.jpg" alt="Sistema de nebulização de transformadores">
            <p class="legenda">Sistema de Combate a Incêndio - Paracambi-RJ</p>
        </div>
        <div class="coordenacao1">
            <img src="../static/images/fiat.jpg" alt="Casa de bombas de incêndio">
            <p class="legenda">Sistema de Combate a Incêndio - Betim-MG</p>
        </div>
        <div class="coordenacao1">
            <img src="../static/images/klabin.jpg" alt="Pipe rack">
            <p class="legenda">Fabricação de tubulações e estruturas metálicas - Londrina-PR</p>
        </div>
        <div class="coordenacao1">
            <img src="../static/images/marinha.jpg" alt="Içamento de tanque de combustível">
            <p class="legenda">Instalação de tanques de combustível - Rio de Janeiro-RJ</p>
        </div>
        <div class="coordenacao1">
            <img src="../static/images/manoel.jpg" alt="Muro de arrimo em escola">
            <p class="legenda">Execução de muro de contenção - São Paulo-SP</p>
        </div>
        <div class="coordenacao1">
            <img src="../static/images/cotia.jpg" alt="Campo de futebol em grama sintética">
            <p class="legenda">Execução de campo de futebol em grama sintética - Cotia-SP</p>
        </div>
        <div class="coordenacao1">
            <img src="../static/images/bras.jpg" alt="Sala comercial mobiliada">
            <p class="legenda">Reforma de interiores para posto de atendimento - São Paulo-SP</p>
        </div>
        <div class="coordenacao1">
            <img src="../static/images/victor.jpg" alt="Edifício na Praça Victor Civita, em São Paulo-SP">
            <p class="legenda">Gerenciamento e fiscalização de revitalização de praça - São Paulo-SP</p>
        </div>
    </section>

    <section id="desenvolvimento">
        <p id="titulo3">Desenvolvimento de software</p>
        <p class="legenda2">Aluno destaque no Módulo 01 da Blue EdTech - Projeto de Ficção Interativa - Jogo do
            Estagiário - <a class="codigo" href="https://github.com/cnicacio/projeto_05_modulo_01"
                target="_blank">Acesse aqui</a></p>
        <div class="certificado">
            <img class="cert" src="../static/images/certificado.PNG"
                alt="Certificado de destaque - Projeto Ficção Interativa - Blue EdTech">
            <video class="video" src="../static/videos/video.mp4" controls></video>
        </div>

        <p class="legenda2">1° Projeto do Módulo 02 - Jogo de Humor - <a class="codigo"
                href="https://github.com/cnicacio/projetos_blue_modulo2/tree/main/projeto_01_mood_game"
                target="_blank">Acesse aqui</a></p>
        <div class="certificado">
            <video class="video" src="../static/videos/video2.mp4" controls></video>
        </div>
    </section>

    <section id="habilidades">
        <p id="titulo4">Minhas habilidades</p>

        <p class="titulo5">Língua Inglesa</p>
        <div class="estrelas">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        </div>

        <p class="titulo5">Língua Espanhola</p>
        <div class="estrelas">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
        </div>

        <p class="titulo5">Microsoft Visual Basic</p>
        <div class="estrelas">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>

        <p class="titulo5">Microsoft Power BI</p>
        <div class="estrelas">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>

        <p class="titulo5">Python</p>
        <div class="estrelas">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>

        <p class="titulo5">HTML</p>
        <div class="estrelas">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>

        <p class="titulo5">CSS</p>
        <div class="estrelas">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>

        <p class="titulo5">JavaScript</p>
        <div class="estrelas">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>

        <p class="titulo5">Python Flask</p>
        <div class="estrelas">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>

        <p class="titulo5">SQL</p>
        <div class="estrelas">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>

        <p class="titulo5">C++</p>
        <div class="estrelas">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>

    </section>

    <section id="contato">
        <p id="titulo6">Entre em contato comigo!</p>
        <form action="/enviar" method="POST">
            <label for="nome">Nome</label>
            <input type="text" placeholder="Digite seu nome" id="nome" name="nome">

            <label for="telefone">Telefone</label>
            <input type="talefone" placeholder="(XX) XXXXX-XXXX" id="telefone" name="telefone">

            <label for="email">E-mail</label>
            <input type="email" placeholder="exemplo@exemplo.com" id="email" name="email">

            <label for="mensagem">Mensagem</label>
            <textarea name="mensagem" id="mensagem" cols="30" rows="10" placeholder="Digite sua mensagem"></textarea>

            <button type="submit" id="enviar">Enviar mensagem</button>
        </form>

        <div id="carregamento">
            <p>Enviando</p>
            <div class="lds-facebook">
                <div></div>
                <div></div>
                <div></div>
            </div>
         </div>

    </section>

    <footer>
        <p id="titulo7">Redes sociais:</p>
        <div class="links">
            <a href="https://www.linkedin.com/in/cnicacio/" target="_blank">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/cnicacio" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
                </a>
        </div>
    </footer>


    <script src='../static/js/script.js'></script>
</body>

</html>